*
{
    background-color: rgb(22,20,23);
}

div, section
{
    border: none;
}


a,li
{
    marker: none;
    text-decoration: none;
}

body
{
    height: 100%;
}

/* nav */
.navbar-collapse
{
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}



.nav-item
{
    margin: 30px;
}


input
{
    width: 370px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    
}




textarea
{
    width: 370px;
    border-radius: 10px;
    text-align: center;
}

::placeholder
{
    font-family: "Teko", sans-serif;
    color: black;
    text-align: center;
}

.feedback
{
    padding-left: 50px;
    /* padding-right: 50px; */
    margin-bottom: -5px;
}

/* body */

.body-front
{
    background-color: rgb(22,20,23);
    height: 500px;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}


.name-div
{
    width: 70%;
}

.name
{
    width: 70%;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.hwd
{
    width: 30%;
}

  .helloworld {
    
    font-size: 5rem;
  }

.mylinks
{
    
    display: flex;
    justify-content: space-around;
}

#my-links
{
    padding-left:48px;
    padding-right: 48px;
}

.btn
{
    color: black;
}

@media all and (max-width:770px)
{
    
    .hwd
    {
        opacity: 0;
    }

    .name
    {
        font-size: 2.5rem;
    }

    #ask-bar
    {
        height: 0px;
        width: 0px;
        background-color: none;
        background: none;
        padding: 0;
        margin: 0;
    }
    .feedback
    {
        position: absolute;
        margin-left: 355px;
        margin-top: -60px;
        background: transparent;
        writing-mode: vertical-lr;
    }

    .mylinks
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #my-links
    {
        display: inline;
        width: 180px;
    }
    .navbarnav
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: -112px;
        margin-left: 55px;
    }
    .nav-item
    {
        margin: 10px;
    }
    
    .nac-sec
    {
        margin-top: 100px;
    }
    .hwd
    {
        /* margin-left: -1000px; */
        position: absolute;
    }
    #my-links
    {
        padding-left:24px;
        padding-right: 24px;
        height: 30px;
        width: auto;
    }
}

